<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/pimmesz/spacewagon"><i class="fa fa-github"></i></a>
    <a href="#"><i class="fa fa-apple"></i></a>
    <a href="#"><i class="fa fa-android"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div>
