<h1>Change your life: <br>rent a spaceship</h1>
<h3>SpaceWagon brings great spaceships to adventurous people</h3>
<br>
<h4>Spaceships around the galaxy</h4>
<br>
<%= link_to "Dashboard", dashboard_path %>
