.button {
  background-color: transparent !important;
  font-family: "Space Mono" !important;
  font-style: normal !important;
  font-size: 15px !important;
  margin-left: 1em !important;
  text-transform: uppercase !important;
  text-decoration: none;
  letter-spacing: 2px !important;
  border-radius: 0px !important;
  border: 1px solid white !important;
  color: white !important;
  font-weight: 400 !important;
  padding: 1em 15em !important;
  z-index: 5000;
  }


.button:hover {
  background-color: #204B93 !important;
  color: white !important;
  text-decoration: none;
  transition: background-color .1s 0s ease-in-out !important;
  transition: color .1s 0s ease-in-out !important;
  z-index: 5000;
}
