#map {
  width: 425px;
  height: 300px;
  flex: 0 0 450px;
  height: 75vh;
  position: fixed !important; /* !important to override Gmaps inline CSS */
  bottom: 0 !important;
  z-index: 0;
  margin-bottom: 50px;
}
