.maphidden {
  opacity: 0 !important;
}

#map {
  opacity: 1;
  width: 400px !important;
  height: 85vh !important;
  position: fixed !important; /* !important to override Gmaps inline CSS */
  margin-bottom: 20px;
  margin-right: 20px;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.2);
  top: 100px;
  transition: opacity 0.5s;
}
