#map {
  width: 400px;
  height: 300px;
  flex: 0 0 450px;
  height: 85vh;
  position: fixed !important; /* !important to override Gmaps inline CSS */
  bottom: 0 !important;
  z-index: -1;
  margin-bottom: 20px;
  margin-right: 20px;
}
